@import 'style.scss';

.header {
    display : flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin : 45px 100px;

    &__image {
        height : 68px;
    }

    &__nav__link {
        margin-left : 57px;
        font-size : $Header-size;
        font-weight: $Header-weight;

        &.active {
            text-decoration: underline;
        }
    }
}

// Responsive

@media (max-width : 1024px) {
    .header {
        margin : 45px 50px;
    }
}

@media (max-width: 834px) {
    .header {
        margin : 20px;

        &__nav__link {
            font-size : 18px;
            margin-left : 20px;
        }
    }

}

@media (max-width : 480px) {
    .header {
        margin: 20px;

        &__image {
            height : 46px;
        }

        &__nav__link {
            font-size : $Header-size-mobile;
            font-weight: $Header-weight-mobile;
            margin-left : 10px;
        }
    }
}