@import 'style.scss';

.hero {
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin : 5px 100px 43px 100px;
    height : 223px;
    filter :drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25))
}

.hero img {
    width : 100%;
    object-fit : cover;
    height : 100%;
    filter : brightness(50%);
    border-radius : 16px;
}

.hero p {
    position : absolute;
    font-size: $Title-size;
    font-weight : $Title-weight;
    color :$white;
}

@media (max-width : 1024px) {
    .hero { 
        margin : 5px 50px 43px 50px;
    }

    .hero p {
        padding : 20px;
    }
}

@media (max-width: 834px) {
    .hero { 
      margin : 0 30px 25px 30px;
      height : 180px;  
    }

    .hero p { 
        font-size : 36px;
    }
}

@media (max-width : 635px) {
    .hero p { 
        padding-left : 20px;
    }
}

@media (max-width: 480px) {
    .hero {
        height : 111px;
        margin : 0 20px;
        margin-bottom: 22px;
        align-items: start;
    }

    .hero p {
        font-size: $Title-size-mobile;
        font-weight : $Title-weight-mobile;
        display: flex;
        justify-content: center;
        padding-left : 16px;
    }
}