// Général
* {
    font-family: 'Montserrat';
    margin: 0;
    padding : 0;
}
a {
    color : black;
    text-decoration: none;
    font-family: 'Montserrat';
}
    // Colors
    $primary-color : #FF6060;

    // Fonts
    $Header-weight : 500;
    $Header-size : 24px;