@import 'style.scss';

.dropdown {
    width: 100%;
    margin-bottom: 30px;

    &__button {
        display : flex;
        flex-direction : row;
        align-items: center;
        justify-content: space-between;
        background-color: $primary-color;
        border-radius : 5px;
        padding : 10px 20px 10px 15px;
        cursor: pointer;
        position: relative;
        z-index : 2;

        &__title {
            color: white;  
            font-size: $Logement-pages-OpenList-size;
            font-weight: $Logement-pages-OpenList-weight;
        }
    }

            &__text {
            background-color: $grey;
            border-bottom-left-radius : 5px;
            border-bottom-right-radius : 5px;
            padding : 10px 20px 10px 15px;
            color: $black;  
            font-size: $Logement-pages-ContentText-size;
            font-weight: $Logement-pages-ContentText-weight;
            position : relative;
            z-index: 1;
        }
}

.dropdown__text--open + .dropdown__text {
    animation : slideDown 0.4s forwards;
    opacity : 1;
    max-height: 500px;
}

.dropdown__text--close + .dropdown__text {
    opacity:0;
    max-height : 0;
    overflow : hidden;
    transition: max-height 0.4s, opacity 0.4s;
}


@keyframes slideDown {
    from {
        transform : translateY(-10px);
        opacity : 0;
    }
    to {
        transform : translateY(0);
        opacity : 1;
    }
}





@media (max-width: 834px) {
    .dropdown {
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    .dropdown {
        margin-bottom: 15px;

        &__button {
            &__title {
                font-size: $Logement-pages-OpenList-size-mobile;
            }

        }

        &__text , li{
                font-size: $Logement-pages-ContentText-size-mobile;
        }
    }
}