@import 'style.scss';

.tags-and-rating {
    display : flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 100px;

    &__tags-div {
        display: flex;
        flex-direction: row;

        &__tag {
            width: 100%;
            padding : 3px 22px;
            font-size: $Logement-pages-tag-size;
            font-weight: $Logement-pages-tag-weight;
            color : $white;
            background-color: $primary-color;
            border-radius: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right:  10px;
            white-space: nowrap;
        }
    }

    &__rating-div {
        display : flex;
        flex-direction: row;

        &__rating {
            font-size: 24px;
            margin-left: 10px;

            &--filled {
                color : $primary-color; 
            }

            &--empty {
                color : #E3E3E3;
            }
        }
    }
}