@import 'style.scss';

footer {
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color : white;
    /*height : 210px;*/
}

footer img {
    padding-bottom : 29px;
    padding-top : 66px;
}

footer p {
    font-size: $Header-size;
    font-weight: $Header-weight;
    padding-bottom : 29px;
}