@import 'style.scss';

.logement {
    width : 100%;
    position : relative;
    aspect-ratio: 1 /1;

    &__image {
        object-fit: cover;
        width :100%;
        aspect-ratio: 1/1;
        border-radius : 16px;
    }
}

.logement p {
    font-size : $Logement-pages-log-size;
    font-weight: $Logement-pages-loc-weight;
    color : $white;
    position : absolute;
    margin : 20px;
    bottom : 0px;
    left: 0px;
}

@media (max-width: 635px) {
    .logement {
        aspect-ratio: auto;
        height : 225px;

        &__image {
            aspect-ratio: auto;
            height : 225px;
        }
    }
}

@media (max-width: 480px) {
    .logement {
        aspect-ratio: auto;

        &__image {
            aspect-ratio: auto;
        }
    }
}

.logement p {
    margin : 15px;
}