@import 'style.scss';

.description-equipements {
    margin : 24px 100px 50px 100px;
  display: flex;
  justify-content: space-between;

  &__items {
    list-style-type : none;
    font-size : $Logement-pages-ContentText-size;
    font-weight : $Logement-pages-ContentText-weight;
  }
}

.dropdown {
    width: 48%;

    &__button {
      &__text {
        font-size : $Logement-pages-ContentText-size;
        font-weight : $Logement-pages-ContentText-weight;
        padding : 20px 16px 20px 16px;
      }
    }
}

@media (max-width : 480px) {
    .description-equipements {
        margin : 24px 20px 25px 20px;
        flex-direction : column;
        align-items : center;

        &__items {
            margin-bottom : 20px;
        }
    }

    .dropdown {
        width: 100%;

        &__button__title {
          font-size : $Logement-pages-OpenList-size-mobile;
        }

        &__button__text {
          font-size : $Logement-pages-ContentText-size-mobile;
        }
    }
}