@import 'style.scss';

.tags-and-rating {
    display : flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 100px;

    &__tags-div {
        display: flex;
        flex-direction: row;

        &__tag {
            width: 115px;
            height : 25px;
            font-size: $Logement-pages-tag-size;
            font-weight: $Logement-pages-tag-weight;
            color : $white;
            background-color: $primary-color;
            border-radius: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right:  10px;
        }
    }

    &__rating-div {
        display : flex;
        flex-direction: row;

        &__tag {
            color : $primary-color;
            font-size: 24px;
            margin-left: 10px;
        }
    }
}